.onlyCard {
    background-image: url(https://marketplace.canva.com/EAEK4dC2olw/1/0/1600w/canva-arcoíris-gradiente-rosa-y-naranja-fondo-virtual-c3PYha1JI9M.jpg);
    background-size: auto;
    margin-top: 5%;
    margin:auto;
    width: 70%;
    border: 2px solid #7768ff; 
    border-radius: 40px;
}


.cardComponent {
    display: flex;
    align-items: center;
    justify-content: space-around;

}

.imageAlumno {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border: 7px solid #cfb3fc;
  object-fit: cover; 
}

.text {
    text-align: center;
}

.card-nombre {
    font-size: 60px;
    color: rgb(207, 111, 251);
}

.card-clase {
    font-size: 35px;
    margin-top: 10px;
}

.buttons {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    max-width: 15%;
}

.button1 {
    display: inline-block;
    font-size: 18px;
    font-weight: 600;
    text-align: center;
    text-decoration: none;
    color: #a47dff;
    background-color: #42a769;
    border-radius: 0.15rem;
    margin-top: 9px;
  }
  
  .button1:hover span {
    background-color: #40ff70;
    color: #d747ff;
  }
  
  .button1:active span {
    translate: none;
  }
  
  .button1 span {
    display: inherit;
    border-radius: inherit;
    background-color: #a0ffae;
    padding: 0.5rem 1.5rem;
    translate: 0.25rem -0.15rem;
    border: 2px solid #3fb84d;
    transition: translate 100ms cubic-bezier(0.175, 0.885, 0.32, 1.275 background-color 250ms);
  
  }

  .button2 {
    display: inline-block;
    font-size: 18px;
    font-weight: 600;
    text-align: center;
    text-decoration: none;
    color: #f82b46;
    background-color: #a95552;
    border-radius: 0.15rem;
    margin-top: 9px;
  }
  
  .button2:hover span {
    background-color: #ff290d;
    color: #ffe1f6;
  }
  
  .button2:active span {
    translate: none;
  }
  
  .button2 span {
    display: inherit;
    border-radius: inherit;
    background-color: #ffb8a0;
    padding: 0.5rem 1.5rem;
    translate: 0.25rem -0.15rem;
    border: 2px solid #ca4343;
    transition: translate 100ms cubic-bezier(0.175, 0.885, 0.32, 1.275 background-color 250ms);
  
  }
